*.bin
.gradle/3.3/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
*.lock
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/support_vector_drawable_25_3_1.xml
validationlib/validationlib.iml
.idea/
app/app.iml
*.jar
gradle/wrapper/gradle-wrapper.properties
*.properties
gradlew.bat
*.iml
settings.gradle
*.gradle
gradlew
*.rawproto